<div class="page">
  <%= render partial: 'shared/header' %>
  <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2>Rating details</h2>

                <div class="d-flex flex-column">
                  <div>
                    <b>Comment:</b> <%= payload.comment %>
                  </div>
                  <div>
                    <b>Product name:</b> <%= payload.product_name %>
                  </div>
                  <div>
                    <b>Bought products:</b> <%= payload.bought_products %>
                  </div>
                  <div>
                    <b>Detailed Rating:</b> <%= payload.detail_rating %>
                  </div>
                  <div>
                    <b>Sub category:</b> <%= payload.sub_category %>
                  </div>
                  <div>
                    <b>Product images:</b>
                    <div class="card mt-2">
                      <div class="card card-body">
                        <div class="row">
                          <% payload.product_images.each do |product_image| %>
                            <%= image_tag product_image, class: 'col-2' %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2>Analyzed Result</h2>
                <% if payload.analyzed_result.present? %>
                  <% payload.analyzed_result.to_h.deep_symbolize_keys.each do |k, v| %>
                    <div class="mt-2">
                      <b><%= k.to_s.humanize %>:</b> <%= render_attribute(v) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>