<div class="page">
  <%= render partial: 'shared/header' %>
  <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">
        <div class="row">
          <div class="h1">
            Welcome to Ratinalyze
          </div>
        </div>
        <div class="row">
          <strong>
            Turn Ratings into Real Insights
          </strong>
        </div>
        <div class="row">
          <p>
            At Rationalyze, we go beyond stars and scores. Simply input a product rating—text, images, or both—and let our intelligent system analyze it for you. Using AI, we break down each review to give you a deeper understanding of:
            <ul>
              <li>
                <strong>
                  📦 Product Type Detection
                </strong>
              </li>
              <li>
                <strong>
                  🎯 Rating Tone Analysis (Positive, Neutral, or Negative)
                </strong>
              </li>
              <li>
                <strong>
                  💬 Emotional Keywords Extraction
                </strong>
              </li>
              <li>
                <strong>
                  🧠 Text & Image Consistency Check
                </strong>
              </li>
              <li>
                <strong>
                  🔍 Insightful Summaries for Smarter Decisions
                </strong>
              </li>
            </ul>
            Whether you're a brand seeking feedback clarity or a buyer wanting to see beyond the surface, Rationalyze helps you make sense of the noise.
          </p>
        </div>
        <div class="row mt-3">
          <h2>Ready to discover what reviews really say?</h2>
          <div>
            <%= link_to "Let's analyze your rating!", new_payload_path, class: 'btn btn-primary' %>
          </div>
        </div>

        <div class="row mt-3">
          <h2>Recent analyzed ratings</h2>

          <% @payloads.each do |payload| %>
            <div class="row">
              <div class="column">
                <div class="card">
                  <div class="card-header">
                    <strong><%= payload.product_name %></strong>
                  </div>
                  <div class="card-body">
                    <p><%= payload.comment %></p>
                    <div class="mt-1">
                      <span class="badge bg-info text-white me-1">
                        Product quality: <%= payload.product_quality_rating %>
                      </span>
                      <span class="badge bg-info text-white me-1">
                        Seller service: <%= payload.seller_service_rating %>
                      </span>
                      <span class="badge bg-info text-white me-1">
                        Delivery service: <%= payload.delivery_service_rating %>
                      </span>
                    </div>

                    <%= link_to 'See the analyze result ->', payload_path(payload), class: 'btn btn-primary mt-4' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>